<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg pb-250 background">
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Bienvenido a
                <img src="./assets/img/theme/text.png">
              </h1>
              <p class="lead  text-white">Entre sus rincones llenos de historia y naturaleza, Añoranzas es una joyita para disfrutar del relax y la tranquilidad en el noroeste argentino.</p>
              <div class="btn-wrapper">
                <a href="#" class="btn btn-lg btn-warning btn-icon mb-3 mb-sm-0 text-large floating">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Reserva Ya!</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-3">
              <div class="card card-lift--hover shadow border-0 bg1">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-white rounded-circle mb-4">
                    <i class="ni ni-key-25"></i>
                  </div>
                  <h6 class="text-white text-uppercase">Posada</h6>
                  <p class="description text-white mt-3">Está diseñada como una antigua casa de campo, donde se destaca su decoración sencilla y cálida.</p>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Leer más</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift--hover shadow border-0 bg2">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-white rounded-circle mb-4">
                    <i class="ni ni-shop"></i>
                  </div>
                  <h6 class="text-white text-uppercase">Restaurante</h6>
                  <p class="description text-white mt-3">El restaurante, que supo ocupar el puesto número 18 de los Latin America's 50 Best Restaurants.</p>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Leer más</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift--hover shadow border-0 bg3">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-white rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-white text-uppercase">Museo</h6>
                  <p class="description text-white mt-3">Amplio espacio en el que se encuentran esculturas coleccionadas por Don Javier a lo largo de los años.</p>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Leer más</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift--hover shadow border-0 bg4">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-white rounded-circle mb-4">
                    <i class="ni ni-vector"></i>
                  </div>
                  <h6 class="text-white text-uppercase">Camping</h6>
                  <p class="description text-white mt-3">Es un bosque donde puedes acampar con parcelas definidas, sanitarios, agua caliente, etc.</p>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Leer más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg section-shaped bg-gradient">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-white shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3 class="text-white">Increibles Ofertas</h3>
            <p class="text-white">Accede y registrate en nuestro propio sistema, convertite en miembro oficial y obtené ofertas únicas de ventas para vos y tus acompañantes.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-white mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0 text-white">Hoteleria y Restaurante</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-white mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0 text-white">Adquirí Actividades</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-white mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0 text-white">Descuentos Exclusivos para socios</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="historia" class="section bg-secondary background">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/history.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Posadera</h4>
              <p class="lead text-italic text-white">Entrada al quincho, con una amplia galería con vista al parque, confortable quincho para disfrutar de las tardes al aire libre. Se preserva con más de 40 años de antiguedad.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-default shadow rounded-circle mb-5">
              <i class="ni ni-istanbul"></i>
            </div>
            <h3 class="text-white">Historia</h3>
            <p class="lead text-white">El complejo de ecoturístico Añoranzas Chaqueñas abrió sus puertas el día 17
              junio de 2005, gracias al sueño de don Javier Leandro y su esposa Ana Cecilia,
              de abrir un camping y restaurante en “Villa Tranquila”, la cual era su quinta de
              descanso familiar, para albergar a los pescadores. Ese sueño bastó para que
              surgiera lo que hoy se conoce como Complejo EcoTurístico Añoranzas
              Chaqueñas.</p>
            <p class="text-white">El Restaurante y el camping surgieron primero y luego se desarrolló la posada y
              el museo siempre con el objetivo de lograr el propósito de ofrecer el mejor
              servicio y calidad posible para quien decida descansar y tomar un respiro sano,
              dejando volar sus sueños y añorando el aroma del río, dentro de un ambiente rústico, acogedor, sano y totalmente
              familiar, en donde la clave del éxito ha sido sin duda alguna, su originalidad.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="actividades" class="section pb-0 bg-gradient">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/theme/activities.png" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-warning shadow rounded-circle text-primary">
                <i class="ni ni-building text-white"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Actividades</h4>
              <p class="text-white">Conocé más acerca de las actividades del complejo ecoturistico añoranzas chaqueñas y como podes hacer para disfrutarlos.</p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Cabagatas</h5>
                  <p>Se recorre distintos senderos, se charla sobre cuidado ambiental, se hace reconocimiento de huellas, identificación de la flora y fauna del lugar.</p>
                  <a href="javascript:void(0)" class="text-success">Leer más</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Paseo Náutico</h5>
                  <p>Este servicio ofrece la posibilidad de conocer el Paraná. Se trata de una embarcación de 9 metros de largo que permite transportar cómodamente a sus pasajeros, guía y tripulación.</p>
                  <a href="javascript:void(0)" class="text-success">Leer más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  
  <section class="section section-lg pt-xl-4">
    <div class="container">
      <div class="card bg-gradient shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">Hacemos que este sitio sea más amigable para vos.</h3>
              <p class="lead text-white mt-3">Accede a nuestros sistemas de pre-venta y adquiri beneficios exclusivos para vos y nuestros socios.</p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-lg btn-block btn-white">Registrarse ahora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section section-lg section-nucleo-icons">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h2>Pagá como quieras!!</h2>
          <p class="lead">
            <img src="./assets/img/theme/pago.png">  
          </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_GijZxtXDco?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section id="contacto" class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Contactanos</h2>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Estas buscando más información?</h4>
              <p class="mt-0">No dudes en ponerte en contacto con nosotros.</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Tú nombre" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Dirección de Correo" type="email" (focus)="focus1=true" (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Mensaje..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Enviar Mensaje</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</main>
