.background {
    background-color: #293133;
    background-image: url("./../../assets/img/theme/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

$color_1: #1b331b;
$color_2: #376737;
$color_3: #4a8b4a;
$color_4: #64a564;

.bg1 {
    background-color: $color_1 !important;
}

.text-bg1 {
    color: $color_1 !important;
}

.bg2 {
    background-color: $color_2 !important;
}

.text-bg2 {
    color: $color_2 !important;
}

.bg3 {
    background-color: $color_3 !important;
}

.text-bg3 {
    color: $color_3 !important;
}

.bg4 {
    background-color: $color_4 !important;
}

.text-bg4 {
    color: $color_4 !important;
}

.bg-gradient {
    background: linear-gradient(87deg, #5DAD5D 0, #2e562e 100%) !important;
}

.text-large {
    font-size: larger;
    width: 230px;
    height: 60px;
}