<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container container-lg" *ngIf="getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'">
    <div class="row">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h3 class="text-primary font-weight-light mb-2">Gracias por tu visita!</h3>
                <h4 class="mb-0 font-weight-light">Galeria de Imágenes y Redes Sociales.</h4>
                <br>
                <a target="_blank" href="https://www.facebook.com/A%C3%B1oranzas-Chaque%C3%B1as-106810874057349/" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg floating" ngbTooltip="Like us">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/anoranzas.chaco/" class="btn btn-neutral btn-icon-only btn-instagram btn-lg btn-round floating" ngbTooltip="Follow us">
                  <i class="fa fa-instagram"></i>
                </a>
            </div>
            <div class="col-lg-6 mb-lg-auto">
              <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
                <ngb-carousel class="blur--hover">
                    <ng-template ngbSlide>
                      <img src="./assets/img/theme/img-1.jpg" class="img-fluid blur-item" alt="First slide">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="./assets/img/theme/img-2.jpg" class="img-fluid blur-item" alt="First slide">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="./assets/img/theme/img-3.jpg" class="img-fluid blur-item" alt="First slide">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="./assets/img/theme/img-4.jpg" class="img-fluid blur-item" alt="First slide">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="./assets/img/theme/img-6.jpg" class="img-fluid blur-item" alt="First slide">
                    </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
    </div>
  </div><br>
  <div class="container">
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://orbitalst.com" target="_blank">Orbital Studios - Todos los derechos reservados</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a class="nav-link">Ver Contrato de Licencia</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
